doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ayuda
        link(rel="stylesheet", href="http://www.bootswatch.com/paper/bootstrap.min.css")
        link(rel="stylesheet", href="dist/ayuda.css")
    body
        .ayuda-content
            include ./modules/gettingStarted
            include ./modules/options
            include ./modules/elements
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
        script(src="http://www.bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js")
        script(src="node_modules/kula/dist/kula.min.js")
        script(src="dist/ayuda.js")
        script.
            $.ayuda();