@import "variables"

html, body
    height: 100%
    width: 100%
    margin: 0
    padding: 0

.ayuda-nav-wrapper, .ayuda-content-wrapper
    background-color: inherit

.ayuda-nav-wrapper
    position: fixed
    top: 0
    bottom: 0
    overflow-x: hidden
    left: 0
    padding: 0
    overflow-y: auto
    box-shadow: 0 0 1px 1px lightgray
    z-index: 100
    transition: all 0.2s linear

.ayuda-nav > ul
    list-style-type: none
    padding: 0 0 0 3px
    margin: 0
    width: 100%
    > li
        width: 100%
        padding: 13px 15px
        -webkit-user-select: none
        -ms-user-select: none
        user-select: none
        cursor: pointer
        transition: all 0.1s linear
        background-color: inherit
        border-left: 0px solid $gray-light
        font-size: 1.15em
        font-weight: normal
        > ul
            display: none
            list-style-type: none
            > li
                margin-left: -35px
                padding-left: 10px
                font-size: 0.9em
                transition: all 0.1s linear
                border-left: 0px solid $gray-light
                font-weight: normal
                &:hover
                    border-left-width: 3px
                    background-color: lighten($gray-lighter, 8%)
                    font-weight: bold
                &.active
                    background-color: inherit
                    border-left-width: 3px
                    border-color: $brand-primary
                    font-weight: bold
        &:hover
            border-left-width: 5px
            background-color: lighten($gray-lighter, 8%)
            font-weight: bold
        &.active
            background-color: inherit
            border-left-width: 5px
            border-color: $brand-primary
            font-weight: bold

@media only screen and (max-width: 768px)
    .ayuda-nav-wrapper
        margin-left: -300px

[data-ayuda-link] > [data-ayuda-link]
    padding-left: 20px