section(data-ayuda-link="Elements")
    table.table.table-striped
        thead
            tr
                th Tag
                th Attribute(s)
                th Description
        tbody
            tr
                td &lt;section&gt; -or- &lt;div&gt;
                td data-ayuda-link
                td Defines what the content of the nav link will be after initialization.
            tr
                td &lt;a&gt;
                td data-ayuda-anchor
                td Acts as an alternate nav link to another section of the page. Takes the #[code data-ayuda-link] value for the section you want to scroll to on click.