section(data-ayuda-link="Getting Started")
    section(data-ayuda-link="Install")
        p Navigate to the root of the project directory where you want to use Ayuda and run the following command to install the package and save Ayuda as a dependency of your project.
        pre.
            npm install ayuda --save
    section(data-ayuda-link="Reference in HTML")
        p Include the following script reference tags in any of the pages that you want to use Ayuda in and ensure that the reference for Ayuda comes #[strong #[u after]] it's dependencies of jQuery, Bootstrap, and Kula.
        p
            small Note: If the option of "autoStyle" is set to false when initializing, Ayuda will work without Kula as a dependency as it is only used to rip styles from the current Bootstrap 3 instance.
        pre.
            &lt;head&gt;
                ...
                &lt;link rel="stylesheet" href="node_modules/ayuda/dist/ayuda.css"/&gt;
            &lt;/head&gt;
            &lt;body&gt;
                ...
                &lt;script src="node_modules/jquery/dist/jquery.js"&gt;&lt;/script&gt;
                &lt;script src="node_modules/bootstrap/dist/js/bootstrap.js"&gt;&lt;/script&gt;
                &lt;script src="node_modules/kula/dist/kula.min.js"&gt;&lt;/script&gt;
                &lt;script src="node_modules/ayuda/dist/ayuda.js"&gt;&lt;/script&gt;
            &lt;/body&gt;
    section(data-ayuda-link="Initialize")
        pre.
            $.ayuda();
