section(data-ayuda-link="Options")
    section(data-ayuda-link="Definitions")
        table.table.table-striped
            thead
                tr
                    th Name
                    th Type
                    th Description
            tbody
                tr
                    td animationSpeed
                    td Int
                    td The speed in milliseconds that the nav transitions will occur. Note that the scrolling speed will be calculated as this number times 2. To turn off all animations, set this to 0.
                tr
                    td autoHeadings
                    td Boolean
                    td Whether or not headings should be generated automatically in each section from the "data-ayuda-link" attributes in the HTML.
                tr
                    td bootstrap
                    td Boolean
                    td Whether or not the Bootstrap classes should be added when building elements
    section(data-ayuda-link="Defaults")
        pre.
            {
                animationSpeed: 100,
                autoHeadings: true,
                bootstrap: true
            }